body {
    font-family: 'Pacifico', cursive; /* Fancy handwriting font */
    margin: 0; /* Remove default margin */
    background-image: url('https://up.yimg.com/ib/th?id=OIP.XtlXmrujgxcWTyVw8iThMgHaE7&pid=Api&rs=1&c=1&qlt=95&w=163&h=108'); /* Set your background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

h1 {
    color: #333;
}

#quiz {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for quiz container */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px;
}

#result {
    margin-top: 10px;
    font-weight: bold;
}

#score {
    margin-top: 10px;
}
